.d1 {
    width: 1347px;
    height: 40px;
    background-color: #333333;
    padding-left: 50px;
}

.d1-1 {
    padding-left: 12px;
    float: left;
}

.d1-2 {
    height: 30px;
    margin-left: 250px;
}

.d2 {
    display: flex;
    width: 1347px;
    height: 100px;
    border-bottom: 1px #DBDBDB solid;
}

.d2-1 {
    display: flex;
}

.d2-1-1 {
    width: 70px;
    height: 80px;
    text-align: center;
}

.d2-2 {
    width: 349px;
    height: 80px;
    padding-left: 80px;
    display: flex;
}

.d2-2-1 {
    width: 300px;
    height: 50px;
    margin-top: 30px;
}

.d3 {
    height: 70px;
}

.d3-1 {
    text-align: center;
}

.d4 {
    height: 650px;
    margin-right: 20px;
    margin-left: 20px;
}

.d4-1 {
    height: 600px;
    padding: 0px;
    padding-top: 30px;
}

.d4-1-1 {
    height: 600px;
    padding-left: 65px;
}

.d4-2 {
    height: 550px;
    padding-right: 30px;
}

.d4-2-1 {
    height: 120px;
    border-bottom: 1px #DBDBDB solid;
}

.d4-2-2 {
    background-color: #FFFFFF;
    margin-top: 20px;
    height: 100px;
    border: 1px #DBDBDB solid;
    padding-top: 25px;
}

.d4-2-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    width: 594px;
}

.d4-2-3-1 {
    background: white;
    width: 292px;
    height: 40px;
    text-align: center;
    padding-top: 2px;
    border: 1px #DBDBDB solid;
    transition-duration: 0.1s;
}

.d4-2-3-1:active{
    box-shadow:0px 1px 2px 1px #DBDBDB inset;
}

.d4-2-3-1:FOCUS {
    outline: none;
}

.d4-2-4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
    width: 602px;
}

.d4-2-4-1 {
    width: 291px;
    height: 40px;
    text-align: center;
    border: 1px #DBDBDB solid;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition-duration: 0.1s;
}

.d4-2-4-1:active{
    box-shadow:0px 1px 2px 1px #DBDBDB inset;
}

.d4-2-4-1:focus {
    outline: none;
}

.d4-2-4-2 {
    width: 291px;
    height: 40px;
    text-align: center;
    border: 1px #DBDBDB dashed;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.6;
}

.d4-2-4-2:hover {
    border-color: #FF6700;
}

.d4-2-4-2:focus {
    outline: none;
}

.d4-2-4-1-1 {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 10px;
    border: solid 1px #E5E5E5;
}

.d4-2-5 {
    border-top: 1px #DCDCDC solid;
    margin-top: 15px;
    height: 50px;
}

.d4-2-5-1 {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #FF6700 solid;
    color: white;
    height: 50px;
    background-color: #FF6700;
    transition-duration: 0.3s;
}

.d4-2-5-1:hover {
    background-color: #F25807;
}

.d4-2-5-1:focus {
    outline: none;
}

.d4-2-5-0 {
    border: 1px #FF6700 solid;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6700;
    height: 50px;
    background-color: white;
    transition-duration: 0.3s;
}

.d4-2-5-0:hover {
    background-color: #FF6700;
    color: white;
}

.d4-2-5-0:focus {
    outline: none;
}

.d4-2-5-2 {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: white;
    height: 50px;
    background-color: #ADADAD;
    transition-duration: 0.3s;
}

.d4-2-5-2:hover {
    background-color: #757575;
}

.d4-2-5-2:focus {
    outline: none;
}

.d5 {
    padding-top: 20px;
    padding-left: 50px;
    height: 500px;
    background-color: #F5F5F5;
}

.d11 {
    position: absolute;
    top: 20px;
    left: 400px
}

.a1 {
    cursor: pointer;
    text-decoration: none;
    color: #A6A6A6;
    justify-content: flex-start;
    line-height: 40px;
}

.a1:hover {
    color: white;
    text-decoration: none;
}

.a2 {
    color: #A6A6A6;
    cursor: pointer;
    transition-duration: 0.3s;
}

.a2:hover {
    background-color: gainsboro !important;
    color: #FF6700 !important;
}

.a3 {
    font-size: 16px;
    line-height: 108px;
    text-decoration: none;
    color: black;
}

.a3:hover {
    color: #FF6700;
    text-decoration: none;
}

.a4 {
    color: #5E5E5E;
    text-decoration: none;
}

.a4:hover {
    color: #FF6700;
    text-decoration: none;
}

.a5 {
    color: #FF6700;
    text-decoration: none;
    cursor: pointer;
}

.a5:hover {
    color: #FF6700;
    text-decoration: none;
}

.a7 {
    color: #FF6700;
    text-decoration: none;
    margin-left: 35px;
    line-height: 35px;
}

.a7:hover {
    color: #FF6700;
    text-decoration: none;
}

.sp1 {
    line-height: 40px;
    color: #5E5E5E;
}

.sp2 {
    position: relative;
    left: 100px;
    color: #ADADAD;
}

.sp3 {
    font-size: 17px;
    line-height: 60px;
    font-weight: 500;
}

.sp4 {
    line-height: 60px;
    font-size: 12px;
    color: #8C8C8C;
}

.sp5 {
    color: #FF6700;
}

.sp6 {
    color: #9D9D9D;
}

.sp77 {
    font-size: 22px;
    line-height: 40px;
    color: #FF6700
}

.sp7 {
    font-size: 16px;
    line-height: 40px;
}

.sp8 {
    color: #FF6700;
}

.sp9 {
    font-size: 20px;
}

.sp10 {
    margin-top: 5px;
}

.bu1 {
    border: 0;
    height: 40px;
    background-color: #333333;
    color: #A6A6A6;
    transition-duration: 0.2s;
}

.bu1:hover {
    color: #FF6700;
    background-color: white;
}

.bu1:FOCUS {
    outline: none;
}

.bu2 {
    margin-left: 30px;
    border: 0;
    height: 40px;
    width: 125px;
    background-color: #FF6700;
    transition-duration: 0.4s;
    color: white;
    font-size: 110%;
}

.bu2:hover {
    background-color: white;
    color: #FF6700;
}

.bu2:focus {
    outline: none;
}

.bu4 {
    position: relative;
    right: 4px;
    border: 0;
    height: 50px;
    width: 63px;
    background-color: white;
    border: 1px #A8A8A8 solid;
    transition-duration: 0.5s;
}

.bu4:hover {
    background-color: #FF6700;
    color: white;
}

.bu4:focus {
    outline: none;
}

.bu5 {
    width: 150px;
    height: 40px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    color: white;
    background-color: #9D9D9D;
    transition-duration: 0.3s;
}

.bu5:hover {
    background-color: #757575;
}

.bu5:focus {
    outline: none;
}

.bu6 {
    width: 150px;
    height: 40px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    color: white;
    background-color: #FF6700;
    transition-duration: 0.3s;
}

.bu6:hover {
    background-color: #F25807;
}

.bu6:focus {
    outline: none;
}

.in1 {
    height: 50px;
    width: 200px;
}

.img1 {
    animation: img1 3s;
}

@keyframes img1 {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }

}

.img3 {
    height: 100%;
    width: 100%;
}

.hh1 {
    margin-bottom: 0px;
}

.hh2 {
    margin-top: 15px;
}

.hh3 {
    margin-top: 0px;
}

#kc {
    color: #A9A9A9;
}

#div1 {
    border-top: 0px;
    width: 200px;
    background: white;
    position: absolute;
    z-index: 1;
}

#div3 {
    display: flex;
    float: right;
    margin-right: 30px;
}

#dl {
    display: inline-block;
    max-width: 94px;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis;
    float: left;
}

.info select {
    color: #3c3c3c;
    border: 1px #A9A9A9 solid;
    background: #FFFFFF;
}

.info {
    margin: 5px;
    text-align: center;
}

.info #show {
    color: #FF6700;
}

.dz1 {
    width: 170px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px #d0d2d1 solid !important;
}

.dz1:focus {
    border: 1px #FF6700 solid !important;
    outline: none;
}

.sp14 {
    color: red;
}

.close1:focus {
    color: #FF6700;
    outline: none;
}